
<div class="ma5 lh-copy">

  <img class="w3" src="/images/dw-triangles-transparent.png" /><br /><br />

  <b>darkwave 0.5.0</b><br /><br />

  a web application runtime<br />

  for pragmatists with deadlines<br /><br /><br />

  <a href="/docs" class="sys-blue">docs</a> &nbsp;|&nbsp;

<!--

  <a href="/components" class="sys-blue">components</a> &nbsp;|&nbsp;
  
  <a href="/guide" target="_blank" class="sys-blue">field guide</a> &nbsp;|&nbsp;
  
-->
  <a href="https://github.com/hxgf/darkwave" target="_blank" class="sys-blue">source</a>
  
  <br /><br /><br />

  <a href="https://github.com/hxgf/darkwave/archive/refs/tags/0.5.0.zip" class="bg-black white pv2 ph3 br2 no-underline hover-underline f6">↓&nbsp; darkwave-0.5.0.zip</a><br /><br /><br />

  <span class="f7">quick install w/ npx<br /> <code class="bg-black-10 pa1">npx degit hxgf/darkwave#0.5.0 .</code></span>
  
  <br /><br /><br /><br /><br /><br /><br />

  <div class="cf f7">
    <div class="flex items-center">
      <div class=""><a class="black no-underline" target="_blank" href="https://hxgf.io/"><img style="width: 3.5rem;" class="db" src="./images/hxgf-bug.png" /></a></div>
      <div class="pl1 ml3 o-50 fs80 ">
        <div class="">© {{locals.year}} <a class="black" target="_blank" href="https://hxgf.io/">HXGF</a></div>
        (CC) <a class="black" target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/us/">BY-SA 3.0</a>
      </div>
    </div>
  </div>


</div>


