
<div class="ma5 lh-copy">

  <img class="w3" src="/images/dw-triangles-transparent.png" /><br /><br />


  darkwave 0.5.0<br /><br />

  a web application runtime<br />

  for pragmatists with deadlines<br /><br /><br />




  <a href="/docs" class="sys-blue">docs</a> &nbsp;|&nbsp;
  <a href="https://github.com/hxgf/darkwave" target="_blank" class="sys-blue">source</a> <br /><br /><br />

  <a href="https://github.com/hxgf/darkwave/archive/refs/tags/0.5.0.zip" class="bg-black white pv2 ph3 br2 no-underline hover-underline f6">↓&nbsp; darkwave-0.5.0.zip</a><br /><br /><br />

  <span class="f7">quick install w/ npx<br /> <code class="bg-black-10 pa1">npx degit hxgf/darkwave#0.5.0 mysitename</code></span>
  
  <br /><br /><br /><br /><br /><br /><br />



  <div class="cf">
    <!-- 			⋰⋱⋰⋱⋰  ⟞  ⦛ ⦝ ⦤ ⦥ ⧉ ⧥ 	⧷ ⨬ ⨳ ⩸ ▨ ◯ ◉ ◎ 𐌆 ﹌ -->
    <!-- 				<div class="fr pl2" style="font-size: 2.35rem;">▨</div> -->
    <!-- f1 fr pl2 -->
    <!-- 				<div class="f5 mb2">⋰⋱⋰⋱⋰</div> -->
    <!-- style="padding-top: 0.75rem;" -->
    <div class="pb3">
      <div class=""><a class="black no-underline" href="https://hxgf.io/"><img style="width: 3rem;" class="db" src="./images/hxgf-bug.png" /></a></div>
    </div>
    <div class=" f7 o-40">
      <!-- fixit year -->
      <div class="">© {{locals.year}} <a class="black" href="https://hxgf.io/">HXGF</a></div>
      (CC) <a class="black" href="https://creativecommons.org/licenses/by-sa/3.0/us/">BY-SA 3.0</a>
    </div>

  </div>
</div>


